.App {
    height: 80vh;
    display: flex;
    
  }
  
  .App__Aside {
    width: 50%;
    height: 90%;
    
  }
  
  .App__Form {
    width: 50%;
    background-color: rgb(169, 226, 236);
    height: 90%;
    
    overflow: auto;
  }

  .App__Status{
      width: 50%;
      background-color: aquamarine;
  }

  .aaa{
      
      padding-right: 20px;
      padding-top: 30px;
  }
  
.aaa ul{

    list-style: none;
}
.aaa ul li{
    margin-top: 20px;
}

.Addstatus{
    margin-left: 10px;
}

  